{% extends "base.html" %}

{% block title %} Swap Rocket - Просто и выгодно обменять валюту {% endblock title %}


{% block  content%}
<div class="wrap-all">
        <section class="exchange_currency_form">
            <img src="src/images/logo.png" alt="Swap Rocket">
            <div class="flex-row">
                <div class="text-left">
                    <h1>Просто и выгодно обменять валюту</h1>
                    <p>Введите сумму которую хотите продать или купить и нажмите кнопку для поиска обменных пунктах рядом с вами</p>
                </div>
                <div class="main_form">
                    <form action="" method="get">
                        <nav class="tabs">
                            <div class="buy_tab">Купить</div>
                            <div class="sell_tab">Продать</div>
                        </nav>
                        <select name="" id="">
                            <option value="USD"></option>
                            <option value="EURO"></option>
                        </select>
                        <input type="text" name="" placeholder="500" id="">
                        <input type="button" value="Найти где обменять">
                    </form>
                </div>
            </div>
        </section>
        <section class="exchange_results">

        </section>
    </div>
        {% for currency in currency_all %}
      
                <p>{{currency.id}}</p>

       
                <a href={% url "exchanger:single_exchanger" currency.id %} >{{currency.title}}</a>
                <span><small class="text-body-secondary">{{currency.working_hours}}</small></span>
         
                <span>{{currency.city}}</span>
                <span>{{currency.address}}</span>
           
                <span class="text-muted">Купівля</span>
                <p><strong>{{currency.buy_usd}}</strong></p>
          
                <span class="text-muted">Продаж</span>
                <p><strong>{{currency.sell_usd}}</strong></p>
          
                <span class="text-muted">Купівля</span>
                <p><strong>{{currency.buy_eur}}</strong></p>
           
                <span class="text-muted">Продаж</span>
                <p><strong>{{currency.sell_eur}}</strong></p>
        
        {% endfor %}

{% endblock  %}