{% extends "base.html" %}

{% block title %} {{exchanger.title}} {% endblock title %}


{% block  content%}


    <p>
        <span>{{exchanger.city}}</span>
        <span>{{exchanger.address}}</span>
    </p>
    <p>{{exchanger.working_hours}}</p>
    <p>{{exchanger.exchanger_info}}</p>
    <p>
        <span class="text-muted">Купівля</span>
        <p><strong>{{exchanger.buy_usd}}</strong></p>
    </p>
    <p>
        <span class="text-muted">Продаж</span>
        <p><strong>{{exchanger.sell_usd}}</strong></p>
    </p>
    <p>
        <span class="text-muted">Купівля</span>
        <p><strong>{{exchanger.buy_eur}}</strong></p>
    </p>
    <p>
        <span class="text-muted">Продаж</span>
        <p><strong>{{exchanger.sell_eur}}</strong></p>
    </p>
{% endblock  %}